<h1>Mutaciones</h1>
<hr>

<div class="row">
  <div class="col-6">
    <label for="email">Email:</label>
    <input
    #txtEmail
    type="text"
    id="email"
    class="form-control mb-2"
    (input)="onFieldUpdated('email', txtEmail.value)"
    [value]="user().email"
    >
    <label for="firstName">First Name:</label>
    <input
    #txtFirstName
    type="text"
    id="firstName"
    class="form-control mb-2"
    (input)="onFieldUpdated('first_name', txtFirstName.value)"
    [value]="user().first_name"
    >
    <label for="lastName">Last Name:</label>
    <input
    #txtLastName
    type="text"
    id="lastName"
    class="form-control mb-2"
    (input)="onFieldUpdated('last_name', txtLastName.value)"
    [value]="user().last_name"
    >
  </div>
  <div class="col-6">
    <pre>
      {{user() |json}}
    </pre>

    {{fullName()}}
    <br>

    <button (click)="increaseBy(+1)" class="btn btn-primary">
      +1
    </button>
  </div>
</div>
